{% extends "poll_app/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}Create{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Create your own Poll</h3>
                </div>
                <!-- Form -->
                <form action="{% url 'poll_app:create' %}" method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row form-group"> <!-- Question row -->
                            <div class="col-md-12">                                
                                <label for="question">Enter question:</label>
                                <!-- <input name="question" id="question" class="form-control"> -->
                                <!-- <strong>{{ question_form.as_p }}</strong> -->
                                {% render_field question_form.question_text class="form-control" rows="2" col="8" %}
                                <div class="invalid-feedback">
                                    Please enter your question for the Poll.
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 col-form-label">Category: </label>
                            <div class="col-md-10">
                                {% render_field question_form.category class="form-control" placeholder="Add category to the poll" %}
                            </div>
                        </div>
                        <div class="row justify-content-md-center"> <!-- Choices row -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- <label for="option1">First option</label> -->
                                    <!-- <input type="text" name="option1" id="option1" class="form-control" placeholder="Enter first option"> -->
                                    <label class="pb-2 pt-2 text-muted">Enter your optional answers. At least two!</label>
                                    {{ formset|crispy }}
                                </div>
                            </div>
                        </div>
                        <!-- Submit button -->
                        <div class="row">
                            <hr />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Some JavaScript code for custom validation for form -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
{% endblock content %}