{% extends "poll_app/base.html" %}
{% block title %}Delete{% endblock %}
{% block content %}
<div class="container-fluid">
    <form action="{% url 'poll_app:delete' poll.id %}" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center mt-4">
            <div class="col-md-10 text-center">
                <h4 class="">Are you sure you want to delete the poll("{{ poll.question_text }}")?</h4>
            </div>
            <div class="col-md-2">
                <a class="btn btn-info" href="{% url 'poll_app:home' %}">No</a>
                <button type="submit" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="row justify-content-center mt-1">
                <div class="col-md-4 alert alert-info text-center mb-0 bg-danger text-white" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}
