{% extends "poll_app/base.html" %}
{% block title %}Delete{% endblock %}
{% block content %}
<div class="container-fluid">
    <form action="{% url 'poll_app:delete' poll.id %}" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center mt-5">
            <div class="card col-md-6" id="delete_card">
                <div class="card-body">
                    <div class="row">
                        <h4>Are you sure you want to delete the poll?</h4>
                    </div>
                    <div class="row">
                        <h5>"{{ poll.question_text }}"</h5>
                    </div>
                    <hr />
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-danger mr-2">Yes</button>
                        <a class="btn btn-info" href="{% url 'poll_app:home' %}">No</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="row justify-content-center mt-1">
                <div class="col-md-4 alert alert-info text-center mb-0 bg-danger text-white" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}
