{% extends "poll_app/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-tittle">Available polls</h3>
                </div>
                <ul class="list-group list-group-flush">
                    {% for poll in polls %}
                    <li class="list-group-item">
                        <strong>{{ poll.question_text }}</strong>
                        <span class="float-right">
                            <a href="{% url 'poll_app:vote' poll.id %}" class="btn btn-info">Vote</a>
                            <a href="{% url 'poll_app:result' poll.id %}" class="btn btn-success">View results</a>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
