{% extends "poll_app/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="row justify-content-center mt-1">
                <div class="col-md-4 alert alert-danger text-center mb-0" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Available polls</h3>
                </div>
                <div class="card-body p-0">
                {% for poll in polls %}    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-7">
                                    <span><strong>{{ poll.question_text }}</strong></span><br>
                                    <footer class="badge badge-dark d-inline">#{{ poll.category }}</footer>
                                    <footer class="d-inline mr-1 ml-1"><span class="text-muted">Pub: </span>{{ poll.pupblish_date|date:"M. d, Y, H:i" }}</footer>
                                    <footer class="d-inline"><span class="text-muted m-0">Author: </span>{{ poll.author.username }}</footer>
                                </div>
                                <div class="col-md-5">
                                    <a href="{% url 'poll_app:result' poll.id %}" class="btn btn-success btn-sm float-right mt-1">View results</a>
                                    <a href="{% url 'poll_app:vote' poll.id %}" class="btn btn-info btn-sm float-right mr-1 mt-1 ml-1">Vote</a>
                                    {% if request.user.is_authenticated %}
                                        {% if poll.author == request.user %}
                                            <a class="btn btn-warning btn-sm float-right mt-1" href="{% url 'poll_app:edit' poll.id %}">Edit</a>
                                            <a class="btn btn-danger btn-sm float-right mt-1 mr-1" href="{% url 'poll_app:delete' poll.id %}">Delete</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <hr class="m-0">
                {% endfor %}
                </div>                
            </div><!-- Card end -->
        </div>
    </div>
    
    <nav aria-label="Page navigation" class="fixed-bottom"> <!-- Pagination -->
        <div class="row justify-content-center">
            <ul class="pagination">
                {% if polls.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ polls.previous_page_number }}" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}

                {% for num in polls.paginator.page_range %}
                    {% if polls.number == num %} <!-- Current page -->
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ num }}">{{ num }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% elif polls.number > num|add:'-3' and polls.number < num|add:'3' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
    
                {% if polls.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ polls.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav> <!-- Pagination end -->    
</div>

{% endblock content %}
