<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Listings</title>
  </head>
  <body>
    
  <div class="container">
    
    <div class="row">
      <div class="col-sm">
        
        <div class="card text-center">
          <h1>Listings</h1>  
            {% for item in latest_items %}
            
            <div class="card-header">
            <p><b>Title: </b>{{ item.title }}</p>
            <p><b>Condition: </b>{{ item.condition }}</p>
            <p><b>Delivery mode: </b>{{ item.delivery }}</p>
            <p><b>Price: </b>{{ item.price }}</p>
            <p><b>List date: </b>{{ item.list_date }}</p>
            <br>
            <a class="btn btn-secondary" href="">Details</a>
            
            </div>
            {% endfor %}
          
        </div>
      </div>

    </div>
  </div>
      
  </body>
</html>
